@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
}

.App {
  width: 100vw;
}
.content-body {
  width: 80vw;
  display: flex;
  height: auto;
  margin: 30px auto;
}
